In [1]:
#importing necessary libraries
import numpy as np
import pandas as pd
import math
from sklearn.preprocessing import LabelEncoder

In [2]:
#dataset
data=pd.read_csv("tennis.csv")

In [3]:
data.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [4]:
#To see statistical details of the dataset
data.describe()

       outlook  temp humidity  windy play
count       14    14       14     14   14
unique       3     3        2      2    2
top      rainy  mild   normal  False  yes
freq         5     6        7      8    9

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   outlook   14 non-null     object
 1   temp      14 non-null     object
 2   humidity  14 non-null     object
 3   windy     14 non-null     bool
 4   play      14 non-null     object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes

In [6]:
from sklearn.preprocessing import LabelEncoder
# Initialize the LabelEncoder
le = LabelEncoder()
# Convert categorical variables to numerical format
data['outlook'] = le.fit_transform(data['outlook'])
data['temp'] = le.fit_transform(data['temp'])
data['humidity'] = le.fit_transform(data['humidity'])
data['windy'] = le.fit_transform(data['windy'])
data['play'] = le.fit_transform(data['play'])

In [7]:
# Check the transformed dataset
print(data.head())

   outlook  temp  humidity  windy  play
0        2     1         0      0     0
1        2     1         0      1     0
2        0     1         0      0     1
3        1     2         0      0     1
4        1     0         1      0     1

In [8]:
# Define the feature columns
feature_cols = ['outlook', 'temp', 'humidity', 'windy']
# Separate the features and target variable
x = data[feature_cols]
y = data['play']

In [9]:
# Check the feature matrix (x) and target variable (y)
print(x.head())
print(y.head())

   outlook  temp  humidity  windy
0        2     1         0      0
1        2     1         0      1
2        0     1         0      0
3        1     2         0      0
4        1     0         1      0
0    0
1    0
2    1
3    1
4    1
Name: play, dtype: int32

In [10]:
# Build the decision tree model

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [11]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [12]:
model.predict(x_test)

array([0, 0, 1])

In [13]:
x_test

   outlook  temp  humidity  windy
4        1     0         1      0
9        1     2         1      0
2        0     1         0      0

In [14]:
model.score(x_test,y_test)

0.3333333333333333

In [ ]:
from sklearn import tree
import matplotlib.pyplot as plt
# Create an instance of the DecisionTreeClassifier with entropy as the criterion
model = tree.DecisionTreeClassifier(criterion='entropy')

# Fit the classifier to the data
model.fit(x, y)

# Plot the decision tree
fig, ax = plt.subplots(figsize=(10, 10))
tree.plot_tree(model, ax=ax)

# Display the plot
plt.show()